<head>
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-WBX22VN');</script>
	<!-- End Google Tag Manager -->
	
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	<link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/seo-internet-marketing-flat-icons/128/web-code.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="https://cdn3.iconfinder.com/data/icons/seo-internet-marketing-flat-icons/128/web-code.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://cdn3.iconfinder.com/data/icons/seo-internet-marketing-flat-icons/128/web-code.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://cdn3.iconfinder.com/data/icons/seo-internet-marketing-flat-icons/128/web-code.png">

	<!-- Pure CSS Grids -->
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<!--<![endif]-->

	<link href="https://fonts.googleapis.com/css?family=Abel|Anaheim" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
