<aside class="sidebar">

	<div class="sidebar-container">
		<div class="title">
			<div class="sidebar-logo">
				<a href="{{site.baseurl}}/">Shannon Phu</a>
			</div>
		</div>

		<menu class="sidebar-menu">
			<li class="menu-items">
				<a class="menu-links" href="{{site.baseurl}}/hackers-roadmap">Hacker's Roadmap</a>
			</li>
			<li class="menu-items">
				<a class="menu-links" href="{{site.baseurl}}/resumes">Resume Guidelines</a>
			</li>
			<li class="menu-items">
				<a class="menu-links" href="{{site.baseurl}}/job-fairs">Talking to Recruiters</a>
			</li>
		</menu>

		{% include social-icons.html %}

	</div>
</aside>