<aside class="sidebar">

	<div class="sidebar-container">
		<div class="sidebar-logo">
			<a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
		</div>

		<menu class="sidebar-menu">
			<li class="menu-items">
				<a class="menu-links" href="{{site.baseurl}}/">Home</a>
			</li>
			<li class="menu-items">
				<a class="menu-links" href="{{site.baseurl}}/resumes">Resume Advice</a>
			</li>
			<li class="menu-items">
				<a class="menu-links" href="{{site.baseurl}}/job-fairs">How to talk to recruiters</a>
			</li>
			<li class="menu-items">
				<a class="menu-links" href="http://shannonphu.github.io">About Me</a>
			</li>
		</menu>

		<div class="sidebar-social">
			{% include social-icons.html %}
		</div>

	</div>
</aside>