<div class="social-wrapper">
	<li class="social-items">
		<a href="http://shannonphu.github.io" class="social-links">
			<i class="social-icons fas fa-globe" aria-hidden="true"></i>
		</a>
	</li>
	<li class="social-items">
		<a href="mailto:{{site.email}}" class="social-links">
			<i class="social-icons fas fa-envelope-square" aria-hidden="true"></i>
		</a>
	</li>
	<li class="social-items">
		<a href="https://github.com/shannonphu/advice" class="social-links">
			<i class="social-icons fab fa-github" aria-hidden="true"></i>
		</a>
	</li>
</div>