---
---

@import "_normalize";
@import "syntax";

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 500px) {
    html {
        font-size:calc(15px + 5 * ((100vw - 500px) / 900));
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 20px;
    }
}

body {
  color: #515151;
  margin: 0;
  background-color: #ecf3f3;
}

img {
  max-width: 100%;
}

a {
  color: #15F3A8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #1bdc9b;
  }
}

blockquote {
  border-left: 5px solid #15F3A8;
  padding-left: 1.1rem;
  margin-left: 1.2rem;
  font-style: italic;
  color: #ada8a8;
}

// Syntax
.highlight {
  background-color: #faf9f9;
  border-radius: 3px;
  margin: 0;
}

.highlighter-rouge {
  color: #e74b3c;
  font-weight: 400;
  border: 1px solid #607D8B;
  border-radius: 3px;
  padding: 0.1rem 0.5rem;
}

// Sidebar
.sidebar {
  background: url("/assets/img/congruent_outline.png");
  background-position: center;
  position: fixed;
  height: 100%;
  width: inherit;
  padding: 15px 0;
}

.sidebar-menu {
  padding: 0;
  .menu-items {
    list-style: none;
  }
  .menu-links {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    color: #fff;
    font-weight: 700;
    transition: all .35s;
    &:hover {
      transform: translateY(3px);
      background-color: #15F3A8;
      color: #515151;
    }
  }
}

.sidebar-logo {
  .logo {
    font-family: 'Finger Paint', cursive;
    color: #15F3A8;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 36px;
	font-weight: 700;
	padding: 10px;
  }
}

.sidebar-social {
  text-align: center;
  .social-items {
    display: inline-block;
  }
  .social-links {
    display: inline-block;
    text-decoration: none;
  }
  .social-icons {
    font-size: 1.4rem;
    padding: 0.4rem 0.5rem;
    color: #ccc;
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    &:hover {
      transform: scale(1.2);
    }
  }
}
// Content
.content {
  padding: 50px;
}

.main-article, .page-article, .post {
  margin-bottom: 50px;
  box-shadow: 0px 50px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
  .header-article, .page-header {
    text-align: center;
    margin-bottom: 1rem;
  }
  .wrap-content {
    background-color: #fff;
    padding: 1rem;
  }
  .title-article, .page-title, .post-title {
    font-family: 'Finger Paint', cursive;
    margin-bottom: 0;
    transition: all .3s;
    color: #15F3A8;
    font-size: 2.5rem;
    margin-top: 0.67rem;
    a {
      color: #15F3A8;
      text-decoration: none;
    }
  }
  .post-date, .page-date {
    span {
      font-size: 0.8rem;
      text-transform: uppercase;
      font-family: monospace;
      color: lightgreen;
    }
  }
  .more {
    text-decoration: none;
    color: lightgreen;
  }
}

img.post-image, img.page-img {
  width: 100%;
}

.page-content {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .sidebar {
    text-align: center;
  }
}
