---
---

@import "_normalize";
@import "syntax";

$text-background-color:#fff;
$sidebar-background-color: #333333;
$card-shadow: 0px 50px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1);
$collection-card-height: 250px;

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 500px) {
    html {
        font-size:calc(15px + 5 * ((100vw - 500px) / 900));
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 20px;
    }
}

body {
  color: #515151;
  background-color: #ecf3f3;
}

a {
  color: #15F3A8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #1bdc9b;
  }
}

// Sidebar
.sidebar {
  background: url("/assets/img/congruent_outline.png");
  background-position: center;
  position: fixed;
  height: 100%;
  width: inherit;
  padding: 15px 0;
}

.sidebar-menu {
  padding: 0;
  .menu-items {
    list-style: none;
  }
  .menu-links {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    color: #fff;
    font-weight: 700;
    transition: all .35s;
    &:hover {
      transform: translateY(3px);
      background-color: #15F3A8;
      color: #515151;
    }
  }
}

.sidebar-logo {
  .logo {
    font-family: 'Finger Paint', cursive;
    color: #15F3A8;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 36px;
	font-weight: 700;
	padding: 10px;
  }
}

.social-wrapper {
  text-align: center;
  .social-items {
    display: inline-block;
  }
  .social-links {
    display: inline-block;
    text-decoration: none;
  }
  .social-icons {
    font-size: 1.4rem;
    padding: 0.4rem 0.5rem;
    color: #ccc;
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    &:hover {
      transform: scale(1.2);
    }
  }
}

.home-social {
	background-color: $sidebar-background-color;
	margin: 100px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

// Content
.content {
  padding: 50px;
}

.collection {
	height: 100vh;
	background-color: $sidebar-background-color;

	.title {
		width: 100%;
		background-color: $sidebar-background-color;
		color: #15F3A8;
		text-align: center;
		margin: 0;
	}
}

.collection-card-wrapper {
	padding: 10px;

	.collection-card {
		height: $collection-card-height; 
		line-height: $collection-card-height;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: $card-shadow;
		transition: all .3s;
		a {
		color: #15F3A8;
		text-decoration: none;
		}
	}
}

.post {
	background-color: $text-background-color;
	box-shadow: $card-shadow;
	padding: 10px 40px;
}

.page-content {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .sidebar {
    text-align: center;
  }
}
